::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}

body {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
}

#preview {
  height: 100dvh;
  width: 50dvw;
}